@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

/* Global Styles. */
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #666699;
}

/* Styling for the navigation bar. */
.navbar {
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

/* Styling for the navigation bar Title. */
.Title {
  font-size: 24px;
  margin: 15px;
  text-transform: uppercase;
}

/* Styling for the navigation bar Links. */
.navlinks ul {
  margin: 0;
  padding: 0;
  display: flex
}

.navlinks li {
  list-style: none;
}

.navlinks li a {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

/* Styling for the navigation bar Links when hovering. */
.navlinks li:hover {
  background-color: #555;
}

/* dynamic adjustments for navbar */
@media (max-width: 600px) {
.navbar {
  flex-direction: column;
  align-items: flex-start;
}
.navlinks ul li a {
  padding: 5px 8px;
}
}

option {
  font-size: 200%;
}

/* Styling for the map container */
#map {
  height: 700px;
  width: 95%;
  padding-bottom: 30px;
  margin: 25px;
}

/* page container styling */
.page-container {
  position: relative;
  min-height: 100%;
}


/* Weather styling*/

#weather_wrapper{
    width: 30px;
    margin: 5px 25px 5px 25px;
    transform: scale(0.75);
}
#weatherCard{
    width: 400px;
    height: 200px;
    font-family: 'Open Sans';
    position: relative;
}
#currentTemp{
    width: 220px;
    height: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    top: 0;
    left: 0;
}
#currentWeather{
    width: 180px;
    height: 200px;
    background: rgb(237, 237, 237);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
#temp{
    font-size: 80px;
    text-align: center;
    display: block;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 20px 0 0;
}
#location{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    display: block;
}

#dateTime{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: block;
}

#imageBox{

    width:150px;
    height:150px;
    display: block;
    padding: 10px;
    text-align: center;
}
#info{
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}
#humidity {
    width: 50%;
    position: absolute;
    left: 10px;
    word-spacing: 60px;
    top: 3px;
}
#humidity::before{
    display: block;
    content: '\f053';
    font-family: weathericons;
    font-size: 40px;
    left: 4px;
    top: -2px;
    position: absolute;
}
#wind {
    width: 50%;
    right: -10px;
    position: absolute;
    word-spacing: 60px;
    top: 3px;
}
#wind::before{
    display: block;
    content: '\f050';
    font-family: weathericons;
    font-size: 25px;
    left: -10px;
    position: absolute;
    top: 5px;
}


/* page content styling */
.content {
  margin: 25px 25px 0 25px;
  padding-bottom: 4rem;
}

/* page footer styling */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #333;
  color: white;
  text-align: center;
}
#footer p {
  margin-top: 8px;
  padding: 15px 25px;
  float: left;
}

/* contact form styling */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

