<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>

    <!---- Favicon ----------------------->
    <link rel="icon" type="ico" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </head>

  <body onload="Drop()">

  <!---- Navigation Bar ----------------------->
  <nav class="navbar">
    <div class="Title">Dublin Bikes Scheme</div>
    <div class="navlinks">
      <ul>
        <li>
          <a class="inactive-link" href="/">
            <h1>Map</h1>
          </a>
        </li>
        <li>
          <a class="active-link" href="">
            <h1>Analytics</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/route">
            <h1>Route Planner</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/about">
            <h1>About</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/contact">
            <h1>Contact</h1>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="page-container">

    <!---- Content ----------------------->
    <div class="content">

    <h1>Analytical data on dublin bikes network</h1>
    <p>Choose a station below to receive detailed analytics</p>
    <br>

    <div id="Drop">
      <!-- Create a form that is the drop down list of stations.
      Will use the submission to query for the details of the station-->
      <form action="">
        <label for="station">Choose a Station: </label>
        <select id="station" name="station">
        </select>
        <input type="button" onclick="redirectStation()" value="Get Analytics">
      </form>
    </div>   


    <div >
      <h1 id="Chart">
      </h1>

      <canvas id="myChart">

      </canvas>
      </div>

    </div>

    <!---- Footer ----------------------->
    <div id="footer">
          <p>Copyright &#169; Dublin Bikes Web Application 2021</p>
    </div>

  </div>

  </body>

</html>