<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>

    <!---- Favicon ----------------------->
    <link rel="icon" type="ico" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>

  <body onload="Drop(); selectStation(); dropDay(); dropHour()">

  <!---- Navigation Bar ----------------------->
  <nav class="navbar">
    <div class="Title">Dublin Bikes Scheme</div>
    <div class="navlinks">
      <ul>
        <li>
          <a class="inactive-link" href="/">
            <h1>Map</h1>
          </a>
        </li>
        <li>
          <a class="active-link" href="">
            <h1>Analytics</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/route">
            <h1>Route Planner</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/about">
            <h1>About</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/contact">
            <h1>Contact</h1>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="page-container">

    <!---- Content ----------------------->
    <div class="content">

      <h1>Analytical data on dublin bikes network</h1>
      <p>Choose a station below to receive detailed analytics</p>
      <br>

      <div id="Drop">
        <!-- Create a form that is the drop down list of stations.
        Will use the submission to query for the details of the station-->
        <form action="">
          <label for="station">Choose a Station: </label>
          <select id="station" name="station">
          </select>
          <input type="button" onclick="redirectStation()" value="Get Analytics">
        </form>
      </div>   


      <!-- Station name of selected station -->
      <div >
        <h1 id="Title"></h1>
      </div>

      <!-- Charts displayed -->
      <div id="realTime">
        <div class="chartdivs">
          <div class="chart2">
            <h2 class="chartTitle"> Daily Averages</h2>
            <canvas id="chart2" style="float:right; ">
            </canvas>
          </div>

          <div class="chart1">
            <h2 class="chartTitle"> Current available data</h2>
            <canvas id="chart1" style="float:left; width: 50%;">
            </canvas>
          </div>

          <div class="chart3">
            <h2 class="chartTitle"> Hourly Average of Previous day</h2>
            <canvas id="chart3" style="float:right;">
            </canvas>
          </div>

          <div class="chart4">
            <h2 class="chartTitle"> Today's Hourly Average so Far</h2>
            <canvas id="chart4" style="float:left;">
            </canvas>
          </div>
        </div>
      </div>
    
      <!-- Prediction -->
      <div id="Pred" style="margin: auto">
        <!-- create a drop down menu of the times that we can predict for -->
        <form action="">
          <select id="dayDrop">
          </select>

          <select id="hour">
          </select>
          <input type="button" onclick="predict()" value="Predict">
        </form>
        <div class="chartdivs">
          <div class="predChart">
            <h2>Predicted Results</h2>
            <canvas id="predChart" style="float:left; width:50%">

            </canvas>
          </div>
        </div>
      </div>

    </div>

    <!---- Footer ----------------------->
    <div id="footer">
          <p>Copyright &#169; Dublin Bikes Web Application 2021</p>
    </div>

  </div>

  </body>

</html>