<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>

    <!---- Favicon ----------------------->
    <link rel="icon" type="ico" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>

  <body onload="Drop(); selectStation(); dropDay(); dropHour()">

  <!---- Navigation Bar ----------------------->
  <nav class="navbar">
    <div class="Title">Dublin Bikes Scheme</div>
    <div class="navlinks">
      <ul>
        <li>
          <a class="inactive-link" href="/">
            <h1>Map</h1>
          </a>
        </li>
        <li>
          <a class="active-link" href="">
            <h1>Analytics</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/route">
            <h1>Route Planner</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/about">
            <h1>About</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/contact">
            <h1>Contact</h1>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="page-container">

    <!---- Content ----------------------->
    <div class="content">

      <h1>Analytical data on dublin bikes network</h1>
      <p>Choose a station below to receive detailed analytics, we will remember your last selection when you return to this page</p>
      <p>When the charts load, hover over them to get interactive information</p>
      <p>There are two sections, the first provides historical and real-time data. The second allows you to chose a time and date to get predicted data.</p>
      <br>

      <div id="Drop">
        <!-- Create a form that is the drop down list of stations.
        Will use the submission to query for the details of the station-->
        <form action="">
          <label for="station">Choose a Station: </label>
          <select id="station" name="station">
            <option>loading...</option>
          </select>
          <input type="button" onclick="redirectStation()" value="Get Analytics">
        </form>
      </div>   


      <!-- Station name of selected station -->
      <div >
        <h1 id="Title">Loading..</h1>
      </div>

      <!-- Real-time charts displayed -->
      <div id="real-time-container">
        <h3>Historical and real-time analytics:</h3>
        <div id="realTime">
        </div>
      </div>
    
      <!-- Prediction -->
      <div id="prediction-container">
        <h3>Prediction analytics:</h3>
        <!-- create a drop down menu of the times that we can predict for -->
        <form action="">
          <select id="dayDrop" onchange="dropHour()">
          </select>
          <select id="hour">
          </select>
          <input type="button" onclick="predict()" value="Predict">
        </form>
        <div id="pred"></div>
      </div>

    </div>

    <!---- Footer ----------------------->
    <div id="footer">
          <p>Copyright &#169; Dublin Bikes Web Application 2021</p>
    </div>

  </div>

  </body>

</html>