<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes - Contact</title>

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />
  </head>

  <body>

    <!---- Navigation Bar ----------------------->
    <nav class="navbar">
      <div class="Title">Dublin Bikes Scheme</div>
      <div class="navlinks">
        <ul>
          <li>
            <a class="active" href="/">
              <h1>Home</h1>
            </a>
          </li>
          <li>
            <a href="/about">
              <h1>About</h1>
            </a>
          </li>
          <li>
            <a href="">
              <h1>Contact</h1>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!---- Content ----------------------->
    <h2>Hello there {{ name }}!</h2>
  </body>
</html>
