<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HTML5 Template</title>
  <meta name="description" content="header page">
  <meta name="Henry Lewis" content="SitePoint">

<link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />

</head>

<body>
  <nav class="navbar">
        <div class="Title">Dublin Bikes Scheme</div>
        <div class="navlinks">
            <ul>
                <li><a class="active" href="/">
                        <h1>Home</h1>
                    </a></li>
                <li><a href="/about">
                        <h1>About</h1>
                    </a></li>
                <li><a href="/contact">
                        <h1>Contact</h1>
                    </a></li>
                <li><a href="">
                        <h1>To be decided</h1>
                    </a></li>
                <li><a href="">
                        <h1>To be decided</h1>
                    </a></li>
            </ul>
        </div>
    </nav>
    
<div id="Drop">
    <!-- Create a form that is the drop down list of stations.
        Will use the submission to query for the details of the station-->
    <form action="" >
    <label for="station">
         Choose a Station: 
    </label>
    <select id="station" name="station">
    </select>
    <input type="button" onclick="selectStation()" value="GOGOGOGO">
    </form>
    
</div>   
    
    <div id="Details">
    Here are the details of the stations
    </div>

<div id="map"></div>
    
<div id="Testing"> Testing</div>

    <script>
        x = document.getElementById("station");
        fetch("/stations").then(response=> {
    return response.json();
  }).then (data => {
    // create drop down station names
      options = "<option value=0> </option>";
      for (i = 0; i < data.length; i++) {
          options += "<option value='" + data[i].name + "'>" + data[i].name + "</option>"; 
      }
      x.innerHTML = options;
        });
    </script>
    
<script>

let map;

function initMap() {

  fetch("/stations").then(response=> {
    return response.json();
  }).then (data => {
    console.log("data: ", data);

      
     // Sets the map to centre on Dublin
   map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 53.3497645, lng: -6.2602732 },
    zoom: 13,
  });
     // Sets the map markers on the bike stations
  data.forEach(station => {
    const marker = new google.maps.Marker({
        position: { lat: station.pos_lat, lng: station.pos_long },
    map: map,
    });
       // Adds an info window to an event listener to each station map markers on the bike stations
    marker.addListener("click", () => {
     const infowindow = new google.maps.InfoWindow({
        content: station.name,
     });
    infowindow.open(map, marker);
  });

  });


  }).catch(err => {
  console.log("ERROR",err)
  })
}


</script>
    
    <script>
        function selectStation() {
        test = document.getElementById("Testing");
        y = document.getElementById("station");
        test.innerHTML = y.value;
        
        dets = document.getElementById("Details");
            
        // fecthing the data
        fetch("/details/" + y.value).then(response=> {
            console.log(response);
            return response.json();

        }).then(data => 
                {
                console.log("station: ", data);
                dets.innerHTML += data[0].available_bikes;
                }
        ).catch(err => {
                console.log("ERROR",err)
                })
            return false;
        }
    </script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD224wAWYY1UyMRJejq2fwRizrFMrAZ_mg&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>
