<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>

    <!---- Favicon ----------------------->
    <link rel="icon" type="ico" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </head>

  <body onload="Drop()">

  <!---- Navigation Bar ----------------------->
  <nav class="navbar">
    <div class="Title">Dublin Bikes Scheme</div>
    <div class="navlinks">
      <ul>
        <li>
          <a class="active" href="">
            <h1>Home</h1>
          </a>
        </li>
        <li>
          <a class="active" href="/route">
            <h1>Route Planner</h1>
          </a>
        </li>
        <li>
          <a href="/about">
            <h1>About</h1>
          </a>
        </li>
        <li>
          <a href="/contact">
            <h1>Contact</h1>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!---- Content ----------------------->

  <!---- Weather Content Information ----------------------->
  <div id='day'>
    <div class='date'></div>
    <div class='icon' ></div>
    <div class='type'></div>
    <div class='humidity'></div>
    <div class='temp'></div>
    <div class='description'></div><span class='value'></span></div>
    <div class='conditions'></div>
    <div class='time'></div>
  </div>


  <!---- Mapping Content ----------------------->
  <div id="map"></div>

  <div id="Drop">
    <!-- Create a form that is the drop down list of stations.
    Will use the submission to query for the details of the station-->
    <form action="" >
      <label for="station">Choose a Station: </label>
      <select id="station" name="station">
      </select>
      <input type="button" onclick="selectStation()" value="GOGOGOGO">
    </form>
  </div>   

  <div id="Details">
  Here are the details of the stations
  </div>
      
  <div id="Testing"> Testing</div>

  <!---- Footer ----------------------->

  <div id="footer">
        <p>Copyright &#169; Dublin Bikes Web Application 2021</p>
  </div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
  ></script>

  </body>

</html>
