<!DOCTYPE html5>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dublin Bikes - Route Planner</title>

    <!---- Favicon ----------------------->
    <link rel="icon" type="ico" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <link href="{{ url_for('static', filename = 'style.css') }}" rel = "stylesheet" type="text/css" />

    <script>
      function initMap() {
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer();
        var dublin = new google.maps.LatLng(53.346, -6.26986);
        var mapOptions = {
          zoom:13.9,
          center: dublin
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsRenderer.setMap(map);
      }

      function calcRoute() {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        var request = {
          origin: start,
          destination: end,
          travelMode: 'BICYCLING'
        };
        directionsService.route(request, function(result, status) {
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
        }
      });
    }
    </script>
  </head>
  
  <body>

  <!---- Navigation Bar ----------------------->
  <nav class="navbar">
    <div class="Title">Dublin Bikes Scheme</div>
    <div class="navlinks">
      <ul>
        <li>
          <a class="inactive-link" href="/">
            <h1>Map</h1>
          </a>
        </li>
        <li>
          <a class="active-link" href="/analytics">
            <h1>Analytics</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="">
            <h1>Route Planner</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/about">
            <h1>About</h1>
          </a>
        </li>
        <li>
          <a class="inactive-link" href="/contact">
            <h1>Contact</h1>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="page-container">

    <!---- Content ----------------------->
    <div class="content">

      <h1>Plan your route</h1>
      <p>Enter a starting point and destination and we will find the best route using the dublin bikes network</p>
      <br>

      <div>
        <strong>Start: </strong>
        <select id="start" onchange="calcRoute();">
          <option value="rathmines">Rathmines</option>
          <option value="phibsborough">Phibsborough</option>
        </select>
        <strong>End: </strong>
        <select id="end" onchange="calcRoute();">
          <option value="rathmines">Rathmines</option>
          <option value="phibsborough">Phibsborough</option>
        </select>
        </div>

        <div id="map"></div>

    </div>

    <!---- Footer  ----------------------->
    <div id="footer">
      <p>Copyright &#169; Dublin Bikes Web Application 2021</p>
    </div>
  </div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
  ></script>

  </body>
</html>